<footer style="background-color: black;">

    <div class="container">
        
        <nav class="footer-nav">
            <div class="footer-col">
                <h5 class="title">Do Connect</h5>
                <ul class="footer-list">
                    <li><a href="">About Us</a> </li>
                    <li><a>Help</a> </li>
                </ul>
            </div>
            

        </nav>
        <div class="footer-copyright">
            <ul class="social">
                <li class="me-2"><a><b>Blog</b></a> </li>
                <li class="me-2"><a> Facebook</a></li>
                <li class="me-2"><a>Twitter</a> </li>
                <li class="me-2"><a>LinkedIn</a> </li>
                <li class="me-2"><a>Instagram</a> </li>
            </ul>
            © 2022 Do connect
        </div>
    </div>
</footer>
