
<body>
  <div class="home">
  <h1  class="d-flex justify-content-md-center ">WELCOME TO DOCONNECT</h1>
  </div>

  <div class="quote">
     <h3 class="d-flex justify-content-md-center ">ASKING</h3>
     <h3 class="d-flex justify-content-md-center ">QUESTIONS IS</h3>
     <h3 class="d-flex justify-content-md-center ">THE FIRST WAY</h3>
     <h3 class="d-flex justify-content-md-center ">TO BEGIN</h3>
     <h3 class="d-flex justify-content-md-center ">CHANGE.....</h3>

    </div>

    <div class="flex--button d-flex justify-content-center">
      <a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">
        <button type="submit" class="btn3 btn btn-primary">Get Start</button>
      </a>
    </div>
</body>



