<div class="holder">
  <div class="flex flex-row mx-10 w-content justify-between">
    <div class="">
      <p class="text-4xl font-bold">Welcome, <span class="text-orange-700 capitalize">{{ user.firstName }} {{ user.lastName }}
    </span> </p>
    </div>
    <div class="">
      <a routerLink="/ask-question" routerLinkActive="active" ariaCurrentWhenActive="page">
        <button class="btn q-button" id="ask">Post Question</button>
      </a>
    </div>
  </div>
  <app-all-questions></app-all-questions>
  <div class="chat">
    <button class="btn chat-button ml-8 mb-8 bg-blue-600" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
      aria-controls="offcanvasRight" >
      Chat
    </button>
  </div>
  <div class="offcanvas offcanvas-end bg-blue-200" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <app-chat></app-chat>
    </div>
  </div>
  
</div>
